<!-- Learning activity: Account Management -->
<!-- Account Management section -->
<section class="accManagement_Section">
    <% if (title) { %>
    <h1 id="accManagement_h1"><%= title %></h1>
    <% } else { res.redirect('/') } %>
    <!-- incase of a Flash message -->
    <%- messages() %>
    <!-- if additional errors are needed -->
    <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <!-- Main Content -->
     <div class="accMainContent">
      <% const account = locals.accountData %>
      <% console.log(account) %>
    <% if (locals.loggedin) { %>
      
      <h2>Welcome <%= locals.accountData.account_firstname %></h2>
      <div class="management-links">
        <a href="/account/edit/<%= locals.accountData.account_id %>">Update Account Information</a>
      </div>
      <% if (account.account_type == "Employee" || account.account_type == "Admin") { %>
        <h3>Inventory Management</h3>
        <div class="management-links">
          <a href="/inv/">Manage inventory</a>
        </div>
      <% } %>
      <% } %>
     </div>

</section>