<!-- Add Inventory View wrapped in section -->
<section class="management_section">
    <!-- Content Heading -->
    <% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    <!-- Message Block -->
    <%- messages() %>
    <!-- display errors -->
    <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    <form class="addInvForm" action="/inv/add-inventory" method="post">
        <p>All fields are required!</p>
        <fieldset id="invFieldset">
            <label for="classification_id">Classification:</label>
            <%- classList %>

            <label for="inv_make">Make:</label>
            <input type="text" name="inv_make" id="inv_make" required pattern="^[A-Za-z]+$" title="Type vehicle's make only alphabetic characters only." value="<%= locals.inv_description %>">

            <label for="inv_model">Model:</label>
            <input type="text" name="inv_model" id="inv_model" required pattern="^[A-Za-z]+$" title="Type vehicle's model only alphabetic characters only." value="<%= locals.inv_description %>">

            <label for="inv_description">Description: </label>
            <textarea name="inv_description" id="inv_description" minlength="1" maxlength="100" rows="5" title="Type vehicle's description." required><%= locals.inv_description %></textarea>


            <label for="inv_image">Image Path:</label>
            <input type="text" name="inv_image" id="inv_image" title="Type vehicle's image path otherwise use default path." pattern="^\/images\/vehicles\/[a-zA-Z0-9\-_]+\.([a-zA-Z]{3,4})$" placeholder="/images/vehicles/no-image.png" required value="<%= locals.inv_image %>">

            <label for="inv_thumbnail">Thumbnail Path:</label>
            <input type="text" name="inv_thumbnail" id="inv_thumbnail" title="Type vehicle's thumbnail path otherwise use default path." pattern="^\/images\/vehicles\/[a-zA-Z0-9\-_]+\.([a-zA-Z]{3,4})$" placeholder="/images/vehicles/no-image-tn.png" required value="<%= locals.inv_thumbnail %>">

            <label for="inv_price">Price:</label>
            <input type="text" name="inv_price" id="inv_price" pattern="^\d+$" title="Type vehicle's price numeric value only no comma." required value="<%= locals.inv_price %>">
            
            <label for="inv_year">Year:</label>
            <input type="text" name="inv_year" id="inv_year" pattern="^\d{4}$" title="Type vehicle's year numeric value only no comma." required value="<%= locals.inv_year %>">

            <label for="inv_miles">Miles:</label>
            <input type="text" name="inv_miles" id="inv_miles" pattern="^\d+$" title="Type vehicle's miles numeric value only no comma." required value="<%= locals.inv_miles %>">

            <label for="inv_color">Color:</label>
            <input type="text" name="inv_color" id="inv_color" required pattern="^[A-Za-z]+$" title="Type vehicle's color alphabetic characters only" value="<%= locals.inv_color %>">

        </fieldset>
        <input type="submit" value="Add Vehicle"/>
      </form>
  </section>
  